
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
ul{
  padding: 0;
}
:focus{
  outline: none;
}

